{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/css/jquery-te-1.4.0.css')}}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('build/agentstyle.css') }}" type="text/css"/>
{% endblock %}
{% block body %}


<div id="topDivider">
    <h2>Welcome {{app.user.firstName}}</h2>
</div>
<div id="content">
<nav id="sidebar">
    <ul class="list-group ">
         <li class="list-group-item-light"><a href="#"><i class="fas fa-home"></i>&nbsp;</i>Home</a></li>
         <li class="list-group-item-light"><a id="reportingbutton" href="#"><i class="fas fa-book"></i>&nbsp;</i>Reporting</a></li>
         {% if app.user.isAdmin %}
         <li class="list-group-item-light"><a href="#">Admin</a></li>
         {% endif %}
         <li class="list-group-item-light active"><a id="UnassignedTicketButton" href="#"><i class="fas fa-home"></i>&nbsp;</i>Unassigned Tickets</a></li>
         <li class="list-group-item-light"><a id="myticketbutton" href="#"><i class="fas fa-ticket-alt"></i>&nbsp;</i>My Tickets</a></li>
     </ul>
</nav>

{#    Assigned Tickets    #}
        <div id="assignedTickets">
            <h3>Assigned Tickets</h3>
            {% block assignedtickets %}
                {{ render(controller('App\\Controller\\AgentController::AssignedTicket')) }}
            {% endblock %}
        </div>
        <div id="UnassignedTickets">
            <h3>Unassigned Tickets</h3>
            <table class="table">
                <thead class="thead-dark">
                <th scope="col">Ticket Id</th>
                <th scope="col">Requester</th>
                <th scope="col">Submitted On</th>
                <th scope="col">Status</th>
                </thead>
                <tbody>
                 {% for ticket in UTickets %}
                     <tr>
                        <td>{{ticket.id}}</td>
                        <td>
                           {{ ticket.requester.firstName }}&nbsp;{{ticket.requester.lastName}}
                        </td>
                        <td>{{ticket.created_on|date('d-m-Y')}}</td>
                        <td>{{ticket.status}}</td>
                        <td><a data-ticketid="{{ticket.id}}" class="btn btn-info viewticket" href="#">View</a></td>
                     </tr>
                 {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="ticketInfo">

            {%block ticket %}{% endblock %}
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/jquery-te-1.4.0.js')}}" type="text/javascript"></script>
    <script src="{{ asset('agent.js')}}" type="text/javascript"></script>
  
    <script type="text/javascript">
        $(document).ready(function(){
            $('#ticketInfo').hide();
            $('#ticketupdate').hide();
            $('#assignedTickets').hide();

            $('#UnassignedTicketButton').click(function(e){
               e.preventDefault();
               $('#sidebar').find('li.active').removeClass('active');
                $('#UnassignedTicketButton').closest("li").addClass('active');
               $('#ticketInfo').hide();
               $('#ticketupdate').hide();
               $('#assignedTickets').hide();
               $('#UnassignedTickets').show();
            });
            $('.viewticket').click(function(e){
                e.preventDefault();
                jQuery.ajax({
                type:"POST",
                url:'{{ (path('fetchticket')) }}',
                dataType: "json",
                data: {
                    "id": $(this).data('ticketid')
                },
                success: function(data){
                  template = data;
                  $('#UnassignedTickets').hide();
                  $('#assignedTickets').hide();
                  $('div#ticketInfo').html(template);
                  $('#ticketInfo').show();
                  $('.fulleditor').jqte();
                  }
                });
            });
           //Update Ticket
            $(document).on('click','.updateTicket', function(e){
                e.preventDefault();
                console.log("Form Submitted");
                console.log($(this).data('ticketid'));
                jQuery.ajax({
                   type:"POST",
                   url:'{{ (path('updateticket')) }}',
                   datatype: "json",
                   data: {
                      'id': $(this).data('ticketid'),
                      'title': $('#data_title').val(),
                      'assignee': $('#data_assignee').val(),
                      'requester': $('#data_requester').val()
                    },
                    success: function(data){
                        $('#ticketform').prepend(data.html);

                    }
                });
            });

            $('#myticketbutton').click(function(e){
                e.preventDefault();
                $('#sidebar').find('li.active').removeClass('active');
                $('#myticketbutton').closest("li").addClass('active');
                $('#UnassignedTickets').hide();
                $('#ticketInfo').hide();
                $('#assignedTickets').show();
                $('#ticketupdate').hide();
            });


        });
    </script>


{% endblock %}
