{% block ticket %}
<div id="ticketContainer">
    <span class="tdetails col-8">
    <h2>#{{id}} - {{title}}</h2>
    <p>{{description}}</p>
    <form>
     
    <textarea class="fulleditor col-4"></textarea>
    
    </span>
    <span class="ticket-rbar col-4">
    <label for="assignee">Assignee</label>
        <select id="assignee" name="assignee">
            <option value="">Please Select</option>
            {% for user in assigneeList %}
                <option value="{{user.id}}">{{user.firstName}} {{user.lastName}}</option>
            {% endfor %}
        </select>
    <strong>Status: {{status}}</strong>
    <strong>Priority: {{priority}}</strong>
    </span>
    </form>
</div>
{% endblock %}
